<div class="container">
  <!--<app-nav-bar></app-nav-bar>-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <h1 class="title is-italic has-text-black">Shelf List</h1>
  <input type="text" class="form-control" [(ngModel)]="searchtext"
         placeholder="Search">
  <div class="panel">
    <div class="panel-block">
      <div class="shelves">
        <div class="table__wrapper">
          <table class="table is-bordered is-striped is-fullwidth has-background-info-light mt-3">
            <thead>
            <tr>
              <th>ID</th>
              <th>Product ID</th>
              <th>Location</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shelf of shelves
              | wildcardSearchFilterPipe:['id','productId','location','status']:searchtext">
              <td>{{ shelf.id }}</td>
              <td>{{ shelf.productId }}</td>
              <td>{{ shelf.location }}</td>
              <td>{{ shelf.status }}</td>
              <td>
                <a [routerLink]="['/shelf-details', shelf._id]" class="btnDetail">
                  <i class="fas fa-eye"></i>
                  &nbsp;Show Detail
                </a>
                <ng-container *ngIf="userIsAdmin">
                  <a [routerLink]="['/shelf-edit', shelf._id]" class="btnEdit">
                    <i class="fas fa-pencil-alt"></i>
                    &nbsp;Edit
                  </a>
                </ng-container>
                <ng-container *ngIf="userIsAdmin">
                  <button
                    class="btnDelete"
                    mwlConfirmationPopover
                    [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage"
                    placement="left"
                    (confirm)="deleteShelf(shelf._id)"
                    (cancel)="cancel()">
                    <span class="fas fa-trash" aria-hidden="true"></span>
                    &nbsp;Delete
                  </button>
                </ng-container>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
      <!-- Add Button -->
  <ng-container *ngIf="userIsAdmin">
    <button [routerLink]="['/shelf-create']" class="btnAdd">
      <span class="fas fa-plus" aria-hidden="true"></span>
      &nbsp;Add Shelf
    </button>
  </ng-container>
</div>
