@media screen and (max-width: 1024px) {
  .column {
    width: 100%;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
}

.middle {
  width: 50%;
}

.admin{
  display: block;
  font-size: 12px;
}

.user{
  display: block;
  font-size: 12px;
}


@media screen and (max-width: 350px) {
  .mobileHide {
    visibility: hidden;
  }

  .right {
    width: 25%;
    margin-left: 0px;
    padding: 5px;
  }

  .left{
    margin-left: 0px;
    width: 25%;
    padding: 5px;
  }

  .title{
    font-size: 14px;
  }

  .logo{
    width: 36px;
    height: 40px;
  }

}


@media screen and (max-width: 600px) and (min-width:350px){
  .mobileHide {
    visibility: hidden;
  }

  .right {
    width: 25%;
    margin-left: -10px;
    padding: 8px;
  }

  .left{
    margin-left: 10px;
    width: 25%;
    padding: 8px;
  }

  .title{
    font-size: 16px;
  }

  .logo{
    width: 54px;
    height: 60px;
  }
}

@media screen and (max-width:850px) and (min-width:600px) {

  .right {
    width: 25%;
    margin-left: -15px;
    padding: 10px;
  }

  .left{
    margin-left: 15px;
    width: 25%;
    padding: 10px;
  }


  .title{
    font-size: 25px;
  }

  .logo{
    width: 68px;
    height: 75px;
  }
}

@media screen and (min-width: 850px) {

  .right {
    width: 25%;
    margin-left: -20px;
    padding: 12px;
  }

  .left{
    margin-left: 20px;
    width: 25%;
    padding: 12px;
  }

  .title{
    font-size: 40px;
    font-weight: bolder;
  }

  .logo{
    width: 81px;
    height: 90px;
  }

}

