
<div class="row has-text-centered" style="background-color: #558fe5; border-bottom: 7px solid #8D737F;
outline: 7px solid #2C4378; margin-bottom: 10px;">

  <div class="column left"><img src="/assets/img/logo.png" width="81" height="90"></div> <!-- logo DESKTOP Only-->
  <div class="column middle" ><h1 class="title is-italic is-bold has-text-white desktopTitleSize mobileFontSize">Inventory <br> Management</h1></div> <!-- title DESKTOP Only-->


  <div class="column right" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn is-ghost" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
      <img appGravatar [email]="gravatarEmail" width="50" height="50" >
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <a [routerLink]="['/user-details', userID]" ngbDropdownItem><i class="fas fa-user"></i>&nbsp;Profile</a>
      <button (click)="logoutClick()" ngbDropdownItem><span class="fas fa-sign-out-alt"></span>&nbsp;Logout</button>
    </div>

    <i class="user">{{username}}</i>
    <ng-container *ngIf="userIsAdmin"><i class="admin">Admin</i></ng-container>
  </div>

</div>
