<div class="container">
  <h1>Add New Supplier</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="saveSupplier()" #supplierForm="ngForm">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" class="form-control" [(ngModel)]="supplier.id" name="id" id="id" required>
          <span class="text-danger"
                *ngIf="duplicateId">
                Id must be unique
          </span>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="supplier.name" name="name" id="name" required>
          <span class="text-danger"
                *ngIf="duplicateName">
                Name must be unique
          </span>
        </div>
        <br />
        <div class="form-group">
          <ng-container *ngIf="userIsAdmin">
            <button type="submit" class="btnCreateSave" [disabled]="!supplierForm.form.valid">
              <span class="fas fa-save"></span>
              &nbsp;Save
            </button>
          </ng-container>
          <a [routerLink]="['/supplierlist']" class="btnCreateCancel" >
            <i class="fas fa-window-close"></i>
            &nbsp;Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
