<div class="container">
  <h1>{{ product.name }}</h1>
  <dl class="list">
    <dt>ID</dt>
    <dd>{{ product.id }}</dd>
    <dt>Supplier ID</dt>
    <dd>{{ product.supplierId }}</dd>
    <dt>Name</dt>
    <dd>{{ product.name }}</dd>
    <dt>Part</dt>
    <dd>{{ product.part }}</dd>
    <dt>Price</dt>
    <dd>{{ product.price | currency }}</dd>
    <dt>Quantity</dt>
    <dd>{{ product.qty }}</dd>
    <dt>Update Date</dt>
    <dd>{{ product.updated_date | date:'short' }}</dd>
  </dl>
  <br />
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="userIsAdmin"><a [routerLink]="['/product-edit', product._id]" class="btn btn-success">Edit</a></ng-container>
      <ng-container *ngIf="userIsAdmin">
        <button
        class="btn btn-danger"
        mwlConfirmationPopover
        [popoverTitle]="popoverTitle"
        [popoverMessage]="popoverMessage"
        placement="left"
        (confirm)="deleteProduct(product._id)"
        (cancel)="cancel()">
          Delete
        </button>
      </ng-container>
      <a [routerLink]="['/productlist']" class="btn btn-info" >Cancel</a>
    </div>
  </div>

</div>
