<div class="container">
  <h1>Edit User</h1>
  <div class="row">
    <div class="col-md-6">
      <form #userForm="ngForm"
            (ngSubmit)="userForm.form.valid && updateUser(user._id)"
            [appMatchPassword]="['password', 'confirmPassword']"
            [appVerifyPassword]="['oldPass', 'passHash']"
            novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
                 class="form-control"
                 name="username" id="username"
                 [(ngModel)]="userModel.username"
                 #username="ngModel"
                 required
                 minlength="3"/>
          <span class="text-danger"
                *ngIf="(username.touched || userForm.submitted) && username.errors?.required">
                Username is required
          </span>
          <span class="text-danger"
                *ngIf="(username.touched || userForm.submitted) && username.errors?.minlength">
                Minimum Username length is 3
          </span>
          <span class="text-danger"
                *ngIf="username.touched && username.errors?.userNameNotAvailable">
                Username is not available
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text"
                 class="form-control"
                 name="email" id="email"
                 [(ngModel)]="userModel.email"
                 #email="ngModel"
                 required
                 minlength="6"/>
          <span class="text-danger"
                *ngIf="(email.touched || userForm.submitted) && email.errors?.required">
                Email is required
          </span>
          <span class="text-danger"
                *ngIf="(email.touched || userForm.submitted) && email.errors?.minlength">
                Minimum Email length is 6
          </span>
          <span class="text-danger" *ngIf="email.touched && email.errors?.email">
                Enter a valid email address
          </span>
        </div>
        <div class="form-group">
          <label for="oldPass">Old Password</label>
          <input type="password"
                 class="form-control"
                 name="oldPass" id="oldPass"
                 [(ngModel)]="userModel.oldPassword"
                 #oldPassword="ngModel"
                 required>
          <span class="text-danger"
                *ngIf="(oldPassword.touched || userForm.submitted) && oldPassword.errors?.required">
                Old Password is required
          </span>
          <span class="text-danger"
                *ngIf="oldPassword.touched && oldPassword.errors?.passwordMismatch">
                Old Password is not correct
          </span>
          <input type="hidden" name="passHash" [(ngModel)]="userModel.oldHash" >
        </div>
        <div class="form-group">
          <label for="password">New Password</label>
          <input type="password"
                 class="form-control"
                 name="password" id="password"
                 [(ngModel)]="userModel.password"
                 #password="ngModel"
                 appPasswordPattern
                 required />
          <span class="text-danger"
                *ngIf="(password.touched || userForm.submitted) && password.errors?.required">
                Password is required
          </span>
          <span class="text-danger" *ngIf="password.touched && password.errors?.invalidPassword">
                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                letter and 1 number
          </span>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm New Password</label>
          <input type="password"
                 class="form-control"
                 name="confirmPassword" id="confirmPassword"
                 [(ngModel)]="userModel.confirmPassword"
                 #confirmPassword="ngModel"
                 required>
          <span class="text-danger"
                *ngIf="(confirmPassword.touched || userForm.submitted) && confirmPassword.errors?.required">
                Confirm Password is required
          </span>
          <span class="text-danger"
                *ngIf="confirmPassword.touched && confirmPassword.errors?.passwordMismatch">
                Passwords do not match
          </span>
        </div>
        <br />
        <div class="form-group">
          <input class="form-check-input" type="checkbox" id="isAdmin" name="isAdmin" (change)="userModel.isAdmin = !userModel.isAdmin"
                 [checked]="userModel.isAdmin">
          <label class="form-check-label" for="isAdmin">User Is Admin</label>
        </div>
        <br />
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Update</button>
          <a [routerLink]="['/userlist']" class="btn btn-info">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
