/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.btnLogin {
  background-color: #558fe5;
  border: none;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 8px 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.btnRegister {
  background-color: transparent;
  background-image: none;
  border: 1px solid #558fe5;
  padding: 14px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 8px 0;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.btnRegister:hover {
  color: white;
  background-color: #558fe5;
}

.btnRegister:focus,
.btnRegister.focus {
  box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.middle {
  text-align: center;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  width: 30%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
