<div class="container">
  <h1>Edit Shelf</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateShelf(shelf._id)" #shelfForm="ngForm">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" class="form-control" [(ngModel)]="shelf.id" name="id" id="id" required>
        </div>
        <div class="form-group">
          <label for="productId">Product Id</label>
          <div>
            <select class="form-select" name="productId" id="productId" [(ngModel)]="shelf.productId" required>
              <option value="empty">empty</option>
              <option *ngFor="let product of products" [ngValue]="product.id">{{product.id + " - " + product.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" [(ngModel)]="shelf.location" name="location" id="location" required>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <input type="text" class="form-control" [(ngModel)]="shelf.status" name="status" id="status" required>
        </div>
        <br />
        <div class="form-group">
          <ng-container *ngIf="userIsAdmin"><button type="submit" class="btn btn-success" [disabled]="!shelfForm.form.valid">Update</button></ng-container>
          <a [routerLink]="['/shelflist']" class="btn btn-info">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

