<div class="container">
  <h1>Edit Product</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updateProduct(product._id)" #productForm="ngForm">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" class="form-control" [(ngModel)]="product.id" name="id" id="id" required>
        </div>
        <div class="form-group">
          <label for="supplierId">Supplier Id</label>
          <div>
            <select class="form-select" name="supplierId" id="supplierId" [(ngModel)]="product.supplierId" required>
              <option *ngFor="let supplier of suppliers" [ngValue]="supplier.id">{{supplier.id}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="product.name" name="name" id="name" required>
        </div>
        <div class="form-group">
          <label for="part">Part</label>
          <input type="text" class="form-control" [(ngModel)]="product.part" name="part" id="part" required>
        </div>
        <div class="form-group">
          <label for="price">Price $</label>
          <input type="number" step="0.01" class="form-control" [(ngModel)]="product.price" name="price" id="price" required>
        </div>
        <div class="form-group">
          <label for="qty">Price</label>
          <input type="number" class="form-control" [(ngModel)]="product.qty" name="qty" id="qty" required>
        </div>
        <br />
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">Update</button>
          <a [routerLink]="['/productlist']" class="btn btn-info">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

