ng-sidebar-container{
  height: 100vh;
}

.nav{
  position: relative;
  top: 10%;
  left: 20px;
  width: 200px;
  margin-right:5px;
}

.btnNavSelected {
  background-color: #558fe5;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
  width: 175px;
}

.btnNav {
  background-color: #bdd3f5;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 2px;
  width: 175px;
}

.btnNavSelected:hover {
  background-color: #6599e7;
}

.btnNav:hover {
  background-color: #91b6ee;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

*:focus {
  outline: 0 !important;
}

/* Mobile  */ 
@media screen and (max-width: 600px) {
  .mobileHide {
    visibility: hidden;
    width: 0px;
  }

  .mobileFontSize{
    font-size: 25px;
  }

  .mobileTableSize{
    width: 300px;
  }

} 

/* Desktop */ 
@media screen and (min-width: 600px) {

  .desktopTitleSize{
    font-size: 4em;
    font-weight: bolder;
  }

  .desktopTableSize{
    width: 100%;
  }
}