<div class="container">
  <!--<app-nav-bar></app-nav-bar>-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <h1 class="title is-italic has-text-black">Supplier List
  </h1>
  <input type="text" class="form-control" [(ngModel)]="searchtext"
         placeholder="Search">
  <table class="table is-bordered is-striped is-fullwidth has-background-info-light mt-3">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let supplier of suppliers | filter:searchtext">
      <td>{{ supplier.id }}</td>
      <td>{{ supplier.name }}</td>
      <td>
        <a [routerLink]="['/supplier-details', supplier._id]" class="btn btn-info">Show Detail</a>
        <ng-container *ngIf="userIsAdmin"><a [routerLink]="['/supplier-edit', supplier._id]" class="btn btn-success">Edit</a></ng-container>
        <ng-container *ngIf="userIsAdmin"><a [routerLink]="['/supplier-details/delete', supplier._id]" class="btn btn-danger">Delete</a></ng-container>
      </td>
    </tr>
    </tbody>
  </table>
    <!-- Add Button -->
  <ng-container *ngIf="userIsAdmin">
    <button [routerLink]="['/supplier-create']" class="button is-rounded has-text-white mr-6" style="float:right; background-color:#6f8bab ;">
      Add Supplier
    </button>
  </ng-container>
</div>

