.suppliers {
  width: 100%;
}

/* Darker background on mouse-over */
.btnEdit:hover {
  background-color: #00b33c ;
}

.btnDetail:hover {
  background-color: #627a96 ;
}

.btnAdd:hover {
  background-color: #6599e7;
}

.btnDelete:hover {
  background-color: #db0a0a;
}

.infoP {
  border-style: solid;
  border-color:#6F8BAB;
  width: 100%;
  margin: 3px 0;
}

/* Info Icon */
.infoIcon{
  color: #6F8BAB;
  width: 20px;
  height: auto;
  float: left;
  margin: 5px;
}

/* Mobile  */
@media screen and (max-width: 599px) {

  .mobileHide {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    font-size: 0;
    margin: 0;
  }

  .desktopHide {
    visibility: visible;
  }

  .mobileFontSize{
    font-size: 25px;
  }

  .mobileTableSize{
    width: 100%;
    height: auto;
  }

  .centerTextMobile{
    margin: auto;
    width: 50%;
  }

  .btnEdit {
    background-color: #00e64d;
    border: none;
    color: white;
    padding: 3px 7px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnDetail {
    background-color: #6F8BAB;
    border: none;
    color: white;
    padding: 3px 6px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnDelete {
    background-color: #f52424;
    border: none;
    color: white;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnAdd{
    background-color: #558fe5;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .buttonText {
    display: none;
  }

  .table__wrapper {
    max-width: 500px;
  }


  th, td {
    font-size: 12px;
  }

  .actionCol{
    max-width: 0;
  }

}

/* Mobile  medium*/
@media screen and (max-width:849px) and (min-width:600px) {

  .mobileHide {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    font-size: 0;
    margin: 0;
  }

  .desktopHide {
    visibility: visible;
  }

  .desktopTitleSize{
    font-size: 4em;
    font-weight: bolder;
  }

  .mobileTableSize{
    width: 100%;
    height: auto;
  }

  .btnEdit {
    background-color: #00e64d;
    border: none;
    color: white;
    padding: 3px 7px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnDetail {
    background-color: #6F8BAB;
    border: none;
    color: white;
    padding: 3px 6px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnDelete {
    background-color: #f52424;
    border: none;
    color: white;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnAdd{
    background-color: #558fe5;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .buttonText {
    display: none;
  }

  .table__wrapper {
    max-width: 750px;
  }

  .table {
    width: 100%;
    margin: 12px 0;
  }

  th, td {
    font-size: 14px;
  }

  .actionCol{
    max-width: 0;
  }
}

/* Desktop medium*/
@media screen and (max-width:1074px) and (min-width: 850px) {

  .desktopHide{
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    font-size: 0;
    margin: 0;
  }

  .mobileHide {
    visibility: visible;
  }

  .desktopTitleSize{
    font-size: 4em;
    font-weight: bolder;
  }

  .desktopTableSize{
    width: 100%;
  }

  th, td {
    font-size: 16px;
  }

  .btnEdit {
    background-color: #00e64d;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnDetail {
    background-color: #6F8BAB;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnDelete {
    background-color: #f52424;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnAdd {
    background-color: #558fe5;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: right;
  }

  .buttonText {
    display: none;
  }

  .table__wrapper {
    overflow: auto;
    max-height: 500px;
  }

  .actionCol{
    min-width: 85px;
  }
}

/* Desktop large*/
@media screen and (min-width: 1075px) {

  .desktopHide{
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    font-size: 0;
    margin: 0;
  }

  .mobileHide {
    visibility: visible;
  }

  .desktopTitleSize{
    font-size: 4em;
    font-weight: bolder;
  }

  .desktopTableSize{
    width: 100%;
  }

  th, td {
    font-size: 16px;
  }

  .btnEdit {
    background-color: #00e64d;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnDetail {
    background-color: #6F8BAB;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnDelete {
    background-color: #f52424;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
    float: left;
  }

  .btnAdd {
    background-color: #558fe5;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    float: right;
  }

  .buttonText {
    display: inline;
  }

  .table__wrapper {
    overflow: auto;
    max-height: 500px;
  }

  .actionCol{
    min-width: 85px;
  }
}
