
<a [ngClass]="current === '/productlist' ? 'btn btn-primary btn-lg' : 'btn btn-light btn-lg'"
   [routerLink]="['/productlist']">Products</a>

<a [ngClass]="current === '/supplierlist' ? 'btn btn-primary btn-lg' : 'btn btn-light btn-lg'"
   [routerLink]="['/supplierlist']">Suppliers</a>

<a [ngClass]="current === '/shelflist' ? 'btn btn-primary btn-lg' : 'btn btn-light btn-lg'"
   [routerLink]="['/shelflist']">Shelves</a>

<a [ngClass]="current === '/userlist' ? 'btn btn-primary btn-lg' : 'btn btn-light btn-lg'"
   [routerLink]="['/userlist']">Users</a>

