<div class="container">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <h1 class="title is-italic has-text-black">User Detail</h1>

  <div class="card">
    <h2 class="card-header-title">{{ user.username }}</h2>
    <dl class="list card-content">
      <dt>Username</dt>
      <dd>{{ user.username }}</dd>
      <dt>Email address</dt>
      <dd>{{ user.email }}</dd>
      <dt>Is Admin?</dt>
      <dd>{{ user.isAdmin }}</dd>
    </dl>
  </div>

  <br />
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="userIsAdmin || checkCurrentUser(user._id)">
        <a [routerLink]="['/user-edit', user._id]" class="btnDetailEdit">
          <i class="fas fa-pencil-alt"></i>
          &nbsp;Edit
        </a>
      </ng-container>
      <ng-container *ngIf="userIsAdmin || checkCurrentUser(user._id)">
        <button
          class="btnDetailDelete"
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="top"
          (confirm)="deleteUser(user._id)"
          (cancel)="cancel()">
          <span class="fas fa-trash" aria-hidden="true"></span>
          &nbsp;Delete
        </button>
      </ng-container>
      <a [routerLink]="['/userlist']" class="btnDetailCancel">
        <i class="fas fa-arrow-left"></i>
        &nbsp;Back
      </a>
    </div>
  </div>

</div>
