<div class="container">
  <h1>{{ user.username }}</h1>
  <dl class="list">
    <dt>Username</dt>
    <dd>{{ user.username }}</dd>
    <dt>Email address</dt>
    <dd>{{ user.email }}</dd>
    <dt>Is Admin?</dt>
    <dd>{{ user.isAdmin }}</dd>
  </dl>
  <br />
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="userIsAdmin || checkCurrentUser(user._id)"><a [routerLink]="['/user-edit', user._id]" class="btn btn-success">Edit</a></ng-container>
      <ng-container *ngIf="userIsAdmin || checkCurrentUser(user._id)"><button class="btn btn-danger" type="button" (click)="deleteUser(user._id)">Delete</button></ng-container>
      <a [routerLink]="['/userlist']" class="btn btn-info" >Cancel</a>
    </div>
  </div>

</div>
