.btnEdit {
  background-color: #00e64d;
  border: none;
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.btnDetail {
  background-color: #6F8BAB;
  border: none;
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.btnDelete {
  background-color: #f52424;
  border: none;
  color: white;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 5px;
}

.btnAdd {
  background-color: #558fe5;
  border: none;
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  float: right;
}

/* Darker background on mouse-over */
.btnEdit:hover {
  background-color: #00b33c ;
}

.btnDetail:hover {
  background-color: #627a96 ;
}

.btnAdd:hover {
  background-color: #6599e7;
}

.btnDelete:hover {
  background-color: #db0a0a;
}

