<div class="container">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <h1 class="title is-italic has-text-black">Product List </h1>
  <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search">

  <div class="panel desktopTableSize mobileTableSize">
    <div class="panel-block">
      <div class="products">
        <div class="table__wrapper">
          <table class="table is-bordered is-striped has-background-info-light mt-3">
            <thead>
            <tr id="header-row">
              <th>ID</th>
              <th>Supplier ID</th>
              <th>Name</th>
              <th>Part</th>
              <th>Price</th>
              <th>Quantity</th>
              <th class="actionCol mobileHide">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products
              | wildcardSearchFilterPipe:['id','supplierId','name','part']:searchText">
              <td>{{ product.id }}</td>
              <td>{{ product.supplierId }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.part }}</td>
              <td>{{ product.price | currency }}</td>
              <td>{{ product.qty }}</td>

              <td class="actionCol">
                <!-- detail btn --> 
                <a [routerLink]="['/product-details', product._id]" class="btnDetail">
                  <i class="fas fa-eye"></i>
                  <span class="buttonText">&nbsp;View</span>
                </a>
                <ng-container *ngIf="userIsAdmin">
                 <!-- edit btn --> 
                  <a [routerLink]="['/product-edit', product._id]" class="btnEdit">
                    <i class="fas fa-pencil-alt"></i>
                    <span class="buttonText">&nbsp;Edit</span>
                  </a>
                </ng-container>
                <ng-container *ngIf="userIsAdmin">
                  <!-- delete btn --> 
                  <button 
                    class="btnDelete"
                    mwlConfirmationPopover
                    [popoverTitle]="popoverTitle"
                    [popoverMessage]="popoverMessage"
                    placement="left"
                    (confirm)="deleteProduct(product._id)"
                    (cancel)="cancel()">
                    <span class="fas fa-trash" aria-hidden="true"></span>
                    <span class="buttonText ">&nbsp;Delete</span>
                  </button>
                </ng-container>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="userIsAdmin">
    <button [routerLink]="['/product-create']" class="btnAdd">
      <span class="fas fa-plus" aria-hidden="true"></span>
      <span>&nbsp;Add Product</span>
    </button>
  </ng-container>

</div>

