<div class="container">
  <a [routerLink]="['/productlist']" class="btn btn-default btn-lg">Products</a>
  <a [routerLink]="['/supplierlist']" class="btn btn-default btn-lg">Suppliers</a>
  <a [routerLink]="['/shelflist']" class="btn btn-default btn-lg">Shelves</a>
  <a [routerLink]="['/userlist']" class="btn btn-default btn-lg">Users</a>
  <h1>Product List
    <a [routerLink]="['/product-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <input type="text" class="form-control" [(ngModel)]="searchtext"
         placeholder="Search">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Supplier ID</th>
      <th>Name</th>
      <th>Part</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | filter:searchtext">
      <td>{{ product.id }}</td>
      <td>{{ product.supplierId }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.part }}</td>
      <td>{{ product.price | currency }}</td>
      <td>{{ product.qty }}</td>
      <td>
        <a [routerLink]="['/product-details', product._id]" class="btn btn-info">Show Detail</a>
        <a [routerLink]="['/product-edit', product._id]" class="btn btn-success">Edit</a>
        <a [routerLink]="['/product-details/delete', product._id]" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

