<div class="container">
  <h1>{{ shelf.location }}</h1>
  <dl class="list">
    <dt>ID</dt>
    <dd>{{ shelf.id }}</dd>
    <dt>Product ID</dt>
    <dd>{{ shelf.productId }}</dd>
    <dt>Location</dt>
    <dd>{{ shelf.location }}</dd>
    <dt>Status</dt>
    <dd>{{ shelf.status }}</dd>
    <dt>Update Date</dt>
    <dd>{{ shelf.updated_date | date:'short' }}</dd>
    <ng-container *ngIf="product._id">
    <dt>Product Name</dt>
      <dd>{{ product.name }}</dd>
      <dt>Product Part</dt>
      <dd>{{ product.part }}</dd>
      <dt>Product Quantity</dt>
      <dd>{{ product.qty }}</dd>
    </ng-container>
  </dl>
  <br />
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="userIsAdmin"><a [routerLink]="['/shelf-edit', shelf._id]" class="btn btn-success">Edit</a></ng-container>
      <ng-container *ngIf="userIsAdmin">
        <button
          class="btn btn-danger"
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="left"
          (confirm)="deleteShelf(shelf._id)"
          (cancel)="cancel()">
          Delete
        </button>
      </ng-container>
      <a [routerLink]="['/shelflist']" class="btn btn-info">Cancel</a>
    </div>
  </div>
</div>
