<div class="container">
  <!--<app-nav-bar></app-nav-bar>-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <h1 class="title is-italic has-text-black">User List </h1>
  <input type="text" class="form-control" [(ngModel)]="searchtext"
         placeholder="Search">
  <table class="table is-bordered is-striped is-fullwidth has-background-info-light mt-3">
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Is Admin?</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | filter:searchtext">
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.isAdmin }}</td>
      <td>
        <a [routerLink]="['/user-details', user._id]" class="btn btn-info">Show Detail</a>
        <ng-container *ngIf="userIsAdmin || checkCurrentUser(user._id)"><a [routerLink]="['/user-edit', user._id]" class="btn btn-success">Edit</a></ng-container>
        <ng-container *ngIf="userIsAdmin || checkCurrentUser(user._id)"><button (click)="deleteUser(user._id)" class="btn btn-danger">Delete</button></ng-container>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Add Button -->
  <ng-container *ngIf="userIsAdmin">
    <button [routerLink]="['/user-create']" class="button is-rounded has-text-white mr-6" style="float:right; background-color:#6f8bab ;">
      Add User
    </button>
  </ng-container>
</div>

