<div class="container">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <h1 class="title is-italic has-text-black">Supplier Detail </h1>

  <div class="card">
    <h2 class="card-header-title">{{ supplier.name }}</h2>
    <dl class="list card-content">
      <dt>ID</dt>
      <dd>{{ supplier.id }}</dd>
      <dt>Name</dt>
      <dd>{{ supplier.name }}</dd>
      <dt>Update Date</dt>
      <dd>{{ supplier.updated_date | date:'short' }}</dd>
    </dl>
  </div>

  <br />
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="userIsAdmin">
        <a [routerLink]="['/supplier-edit', supplier._id]" class="btnDetailEdit">
          <i class="fas fa-pencil-alt"></i>
          &nbsp;Edit
        </a>
      </ng-container>
      <ng-container *ngIf="userIsAdmin">
        <button
          class="btnDetailDelete"
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="top"
          (confirm)="deleteSupplier(supplier._id)"
          (cancel)="cancel()">
          <span class="fas fa-trash" aria-hidden="true"></span>
          &nbsp;Delete
        </button>
      </ng-container>
      <a [routerLink]="['/supplierlist']" class="btnDetailCancel">
        <i class="fas fa-arrow-left"></i>
        &nbsp;Back
      </a>
    </div>
  </div>

</div>
