<div class="container">
  <h1>{{ supplier.name }}</h1>
  <dl class="list">
    <dt>ID</dt>
    <dd>{{ supplier.id }}</dd>
    <dt>Name</dt>
    <dd>{{ supplier.name }}</dd>
    <dt>Update Date</dt>
    <dd>{{ supplier.updated_date | date:'short' }}</dd>
  </dl>
  <br />
  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="userIsAdmin"><a [routerLink]="['/supplier-edit', supplier._id]" class="btn btn-success">Edit</a></ng-container>
      <ng-container *ngIf="userIsAdmin">
        <button class="btn btn-danger"
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="left"
          (confirm)="deleteSupplier(supplier._id)"
          (cancel)="cancel()">
          Delete
        </button>
      </ng-container>
      <a [routerLink]="['/supplierlist']" class="btn btn-info">Cancel</a>
    </div>
  </div>
</div>
