.btnCreateSave {
  background-color: #00e64d;
  border: none;
  color: white;
  height: 30px;
  padding: 5px;
  line-height: 15px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.btnCreateCancel {
  background-color: #6F8BAB;
  border: none;
  color: white;
  height: 30px;
  padding: 5px;
  line-height: 15px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

/* Darker background on mouse-over */
.btnCreateSave:hover {
  background-color: #00b33c ;
}

.btnCreateCancel:hover {
  background-color: #627a96 ;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
